# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.cover/

# Database
*.sqlite3
*.sqlite3-journal

# Environment files
.env
.venv/
env/
venv/

# VSCode settings
.vscode/

# Docker
*.log
docker-compose.override.yml

# Helm
charts/*/charts/
charts/*/tmp/
charts/*/values.lock

# Jupyter Notebook
.ipynb_checkpoints

# Python type checkers
.mypy_cache/
.pyre/
.pytype/

# PyInstaller
*.spec
*.manifest

# Misc
*.swp
*.bak
